
<nav>
    <ul>
        <li><a href="/add-restaurant">Add Restaurant</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/restaurants">List Restaurants</a></li>
    </ul>
</nav>