<nav>
    <ul>
        <li><a id="addRestaurantBtn">Add Restaurant</a></li>
        <li><a id="listRestaurantsBtn">List Restaurants</a></li>
        <li><a id="logoutBtn">Logout</a></li>
    </ul>
    <script src="/javascripts/nav.js"></script>
</nav>