<nav>
    <ul>
        <li><a href="/addRestaurant">Add Restaurant</a></li>
        <li><a href="/api/restaurants">List Restaurants</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>