<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant System Login</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="javascripts/login.js"></script>
</head>
<body class="login-body">
<div class="login-container">
    <form>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Password" required>

        <button type="submit" id="submit">Submit</button>
    </form>
    <a href="/register"> First time user? Register here.</a>
</div>
<br>
<div class="error-container">
    {{#if error}}
        <p>{{error}}</p>
    {{/if}}
</div>
</body>
</html>