/* stylesheets/style.css */

/* General link styles */
a {
  color: #00B7FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Main menu styles */
nav {
  background-color: #007bff;
  padding: 10px;
  margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  font-weight: bold;
}

/* Login page styles */
.login-body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f9;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
  margin-bottom: 20px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}

.error-container {
  color: red;
  margin-top: 10px;
}

/* Restaurant page styles */
#filterForm {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#filterForm label {
  margin-right: 10px;
}

#filterForm input,
#filterForm select {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#filterForm button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#filterForm button:hover {
  background-color: #0056b3;
}

#restaurantList {
  margin-top: 20px;
}

.restaurant {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.restaurant h2 {
  margin: 0 0 10px 0;
}

.restaurant p {
  margin: 5px 0;
}

button#prevPage,
button#nextPage {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

button#prevPage:disabled,
button#nextPage:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}